<h1><%=@pool.name%></h1>

<h2>Edit Pool Parameters:</h2>
<form action="/user/tournament/<%=@tournament.id%>/pools/<%=@pool.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name: </label>
  <input type="text" name="name" placeholder="Name" value="<%=@pool.name%>"><br>
  <label>Gender: </label>
  <select name="gender">
    <%if @pool.gender == "male" %>
      <option value="male" selected="selected">Male</option>
      <option value="female">Female</option>
    <%else%>
      <option value="male">Male</option>
      <option value="female" selected="selected">Female</option>
    <%end%>
  </select><br>
  <label>Rank: </label>
  <%if @pool.rank == "novice" %>
    <select name="rank">
      <option value="novice" selected="selected">Novice</option>
      <option value="advanced">Advanced</option>
    </select><br>
  <%else%>
    <select name="rank">
      <option value="novice">Novice</option>
      <option value="advanced" selected="selected">Advanced</option>
    </select><br>
  <%end%>
  <label>Minimum Age: </label>    
  <input type="number" name="min_age" value=<%=@pool.min_age%>><br>
  <label>Maximum Age: </label>
  <input type="number" name="max_age" value=<%=@pool.max_age%>><br>
  <label>Minimum Weight: </label>
  <input type="number" name="min_weight" value=<%=@pool.min_weight%>><br>
  <label>Maximum Weight:</label>
  <input type="number" name="max_weight" value=<%=@pool.max_weight%>><br>
  <input type="submit" value="Edit Pool">
</form>


<h2>Delete Pool:</h2>
<form action="/user/tournament/<%=@tournament.id%>/pools/<%=@pool.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Pool">
</form>

<h3>Competitors:</h3>
<ul>
  <% @players.each do |player| %>
    <li><%=player.name%></li>
  <% end %>
</ul>

<a href="/user/tournament/<%=@tournament.id%>/pools/<%=@pool.id%>/create_bracket"><h2>Create Bracket (Deletes all current matches)</h2></a>

<h2>Bracket:</h2>

<div class="winner">
<% @winner_matches.each do |match| %>
  <% if @winning_round_start.include?(match.number) %>
    <div class="round">
  <% end %>
  <h3><%=match.match_type%><%=match.number%></h3>
  <ul>
    <% match.players.each do |player| %>
      <a href="/user/tournament/<%=@tournament.id%>/pools/<%=@pool.id%>/match_winner/<%=match.id%>/<%=player.id%>"><li><%=player.name%></li></a>
    <% end %>
  </ul>
  <% if @winning_round_start.include?(match.number + 1) %>
    </div>
  <% end %>
<% end %>
</div>

<div class="loser">
<% @loser_matches.each do |match| %>
  <% if @losing_round_start.include?(match.number) %>
    <div class="round">
  <% end %>
  <h3><%=match.match_type%><%=match.number%></h3>
  <ul>
    <% match.players.each do |player| %>
      <a href="/user/tournament/<%=@tournament.id%>/pools/<%=@pool.id%>/match_winner/<%=match.id%>/<%=player.id%>"><li><%=player.name%></li></a>
    <% end %>
  </ul>
  <% if @losing_round_start.include?(match.number + 1) %>
    </div>
  <% end %>
<% end %>
</div>





